{{ define "main" }}
  <h1 id="title">{{ .Title }}</h1>

  <ul>
  {{ range .Data.Terms.Alphabetical }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
  {{ end }}
  </ul>
{{ end }}
