{{ define "body" }}
  <header>
    <div class="container">
      <h1>{{ .Site.Title }}</h1>
    </div>
  </header>

  <section id="video-section" class="page">
    <iframe id="video" src="https://tube.tchncs.de/video-playlists/embed/1a2a78aa-bb50-4e3e-9979-4feb800cd9c5?api=1&controlBar=0&title=0&peertubeLink=0&warningTitle=0"></iframe>

    <div id="content-wrapper">
      <div id="text" class="hidden">
        <h2>Here, watch some of my demos</h2>
        <p>
        Press anywhere to start playing.
        </p>
        <p>
        When you're done being entertained, click the icon below.
        </p>
      </div>
    </div>

    <div id="down-arrow" class="bounce">
      <a class="smooth-scroll" href="#content"><div><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></div></a>
    </div>
  </section>

  <section class="page">
    <article id="content">
      <div class="container home">
        <p class="h1">{{ .Site.Title }}</p>

        {{ .Content }}
      </div>
    </article>
    {{ partial "footer.html" . }}
  </section>

  <script src="https://unpkg.com/@peertube/embed-api/build/player.min.js"></script>
  <script>
    const PeerTubePlayer = window['PeerTubePlayer']
    let player = new PeerTubePlayer(document.querySelector('#video'))
    const initialize = async () => {
      await player.ready
      document.querySelector('#content-wrapper > #text').classList.remove('hidden');
      var content_wrapper = document.querySelector('#content-wrapper');
      content_wrapper.addEventListener('click',
        function () {
          content_wrapper.classList.add('hidden');
          player.play()
        });
      document.querySelector('#down-arrow').addEventListener('click',
        function() {
          player.pause()
        });
    }
    initialize();

    var header = document.querySelector('header');
    var video_height = document.querySelector('#video-section').getBoundingClientRect().height;
    function updateScroll() {
      scroll = document.body.getBoundingClientRect().top;
      header.style.opacity = 1 + scroll / video_height;
    }
    window.addEventListener('scroll', updateScroll);
    updateScroll();

    document.querySelector('.smooth-scroll').addEventListener('click',
      function(event) {
        event.preventDefault();
        document.querySelector(this.getAttribute('href')).scrollIntoView({
            behavior: 'smooth'
        });
      });
  </script>
{{ end }}
