<span id="latest-blog-post">Latest <a href="{{ relref . "/blog/_index.md" }}">blog</a> post:</span>

{{ range last 1 (where .Site.RegularPages "Type" "blog").ByPublishDate }}
<h2>{{ .Title }}</h2>

{{ .Summary | safeHTML }}

<p><a href="{{ .RelPermalink }}">Read full post</a></p>

<hr>

{{ end }}
